body {
    background-color: #000000f2;
    color: #E0E0E0;
    font-family: monospace, 'Roboto';
    text-align: center;
}

.navbar,
.email-container,
.main-nav a,
.myself,
.my-info,
.skills,
.connect img {
    transition: all 0.3s ease;
}

.email-link {
    color: #E0E0E0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.email-link:hover {
    color: #BBBBBB;
    text-decoration: underline;
}

.main-nav img:hover,
.email-container div:hover,
.email-container img:hover,
.main-nav a:hover,
.connect img:hover {
    transform: scale(1.1);
}


.logo img,
.logo-container {
    border: 5px solid #E0E0E0;
}

.logo-container img {
    transition: transform 0.3s ease;
}

.logo img:hover,
.logo-container:hover img {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    padding-bottom: 50px;
}

.email-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#mail-logo {
    height: 30px;
    width: 30px;

}

.email {
    font-size: 16px;
    color: #E0E0E0;
}

.main-nav img {
    height: 20px;
    width: 20px;
}

.main-nav {
    display: flex;
    gap: 20px;
}

.main-nav a {
    text-decoration: none;
    color: #E0E0E0;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: #E0E0E0;
}

.tagline {
    margin-top: 50px;
}

#tagline {
    font-size: 24px;
    margin-top: 20px;
}

.logo img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 10px #E0E0E0 solid;
}

#mail-logo:hover,
.education img:hover {
    transform: scale(1.1);
    transition: color 0.3s ease;
}

.myself,
.my-info,
.skills {
    max-width: 1200px;
    margin: 20px auto;
}

#myself-text-1,
#myself-text-2,
#my-info-text,
#education {
    margin: 40px 0;
}

#education {
    padding-bottom: 40px;
}

.languages,
.libraries-frameworks,
.databases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    overflow: hidden;
    background-color: #E0E0E0;
    border-radius: 10px;
}

.logo-container img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.connect img {
    height: 40px;
    width: 40px;
    margin: 10px;
    cursor: pointer;
}

#resume {
    text-decoration: none;
    color: #E0E0E0;
}

#resume:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

#skills-text {
    padding-top: 40px;
}

.connect p {
    padding-top: 100px;
}

#my-info-text {
    padding-bottom: 70px;
}

/* toggle button */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #282828;
}

input:focus+.slider {
    box-shadow: 0 0 1px #282828;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}